.block {
  border-bottom: 3px solid #898a8b50;
  padding: 0.2rem 1rem 0.5rem 1rem;
  margin: 0px 5px 0px 5px;

  .blockInner {
    display: flex;
    align-items: center;

    .avatar {
      height: 50px;
      width: 50px;
      border: 2px solid black;
      border-radius: 50px;
      margin-right: 1.5rem;
    }

    .contactName {
      margin-right: 4rem;
      font-weight: bold;
      font-size: 0.8rem;
    }
  }
}

.block:hover {
  cursor: pointer;
  background-color: #e9e9e9;
  transition: 200ms ease-in;
}

.arrow {
  position: absolute;
  left: 56%;
}
